body {
    background-color: #1B262C;
    color: #BBE1FA;
}

.row {
    margin-left: -3px;
    margin-top: 10px;
    border-radius: 0px;
    height: 100%; 
    margin-bottom: 5px;
}

#trending {
    margin-left: 20px;
}
